.homestay-card {
  display: flex;
  background-color: #ffffff;
  overflow: hidden;
}

.homestay-card {

  .poster {
    width: 276rpx;
    height: 208rpx;
  }
}


.content {
  flex: 1;
  padding: 5rpx 0 16rpx 20rpx;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.name {
  font-size: 32rpx;
  color: #333333;
  font-weight: 700;
  margin-bottom: 16rpx;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 8rpx;
  height: 36rpx;
  overflow: hidden;
}

.tag {
  font-size: 20rpx;
  color: #ffffff;
  border-radius: 4rpx;
  padding: 6rpx 12rpx;
  margin-right: 12rpx;
  margin-bottom: 8rpx;
  line-height: 1;

  &:nth-child(3n+1) {
    background-color: #5ab083;
  }

  &:nth-child(3n+2) {
    background-color: #a4d068;
  }

  &:nth-child(3n+3) {
    background-color: #6bcbf8;
  }
}

.footer {
  margin-top: auto;
}


.stay-price-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 12rpx 0;
}

.stay-left {
  display: flex;
  align-items: center;
}

.stay-hint {
  font-size: 24rpx;
  color: #666666;
  margin-left: 8rpx;
}

.price-tag-box {
  padding: 0;
  color: #333333;
  display: flex;
  align-items: baseline;
  margin-left: auto;
}

.price-symbol {
  font-size: 24rpx;
  margin-right: 2rpx;
  color: #333333;
  font-weight: 700;
}

.price-value {
  font-size: 40rpx;
  font-weight: 700;
  margin-right: 4rpx;
  color: #333333;
  line-height: 1;
}

.price-unit {
  font-size: 24rpx;
  color: #999999;
  font-weight: normal;
}

.address {
  display: flex;
  align-items: center;
  font-size: 24rpx;
  color: #666666;
  margin-top: 12rpx;

  .address-label {
    flex-shrink: 0;
  }

  .address-text {
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}