.entry-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}


.icon-wrapper {

  margin-bottom: 8rpx;

}

.icon {
  width: 40rpx;
  height: 36rpx;
}

.title {
  font-size: 24rpx;
  color: #000;
  text-align: center;
}