.entry-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.entry-card.align-left {
  align-items: flex-start;
}

.entry-card.align-right {
  align-items: flex-end;
}

.icon-wrapper {
  width: 90rpx;
  height: 90rpx;
  border-radius: 16rpx;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 4rpx;
}

.icon {
  width: 80rpx;
  height: 80rpx;
}

.title {
  font-size: 24rpx;
  color: #191919;
  text-align: center;
}