.collection-card {
  width: 187rpx;
  margin-right: 16rpx;
  display: flex;
  flex-direction: column;
}

.cover {
  width: 187rpx;
  height: 187rpx;
  border-radius: 16rpx;
  margin-bottom: 8rpx;
}

.name {
  font-size: 24rpx;
  color: #333333;
  font-weight: 600;
}
