.collection-card {
  width: 290rpx;
  margin-right: 16rpx;
  display: flex;
  flex-direction: column;
}

.cover {
  width: 290rpx;
  height: 290rpx;
  border-radius: 16rpx;
  margin-bottom: 24rpx;
}

.name {
  font-size: 24rpx;
  color: #000000;
  font-weight: 500;
}
