.companions-page {
    padding: 32rpx;
    min-height: 100vh;
    background-color: #fff;
}

.list-wrapper {
    padding-bottom: 40rpx;
}



.empty {
    padding: 60rpx 0;
    text-align: center;
    color: #999;
    font-size: 28rpx;
}