.container {
  padding: 24rpx;
}
.title {
  font-size: 32rpx;
  font-weight: 500;
}
.content {
  margin-top: 20rpx;
  color: #666;
}
.agree-btn {
  margin-top: 40rpx;
  background: #71BF00;
  color: #fff;
}
