.container {
  padding: 24rpx;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  box-sizing: border-box;
}
.content {
  margin-top: 20rpx;
  color: #666;
}
.agree-btn {
  width: 100%;
  font-size: 32rpx;
  margin-top: 40rpx;
  margin-bottom: 20rpx;
  background: #000000;
  color: #fff;
}
