.mask {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}
.modal {
  width: 80%;
  background: #fff;
  border-radius: 16rpx;
  padding: 32rpx;
}
.title {
  font-size: 36rpx;
  font-weight: 600;
  text-align: center;
}
.desc {
  margin-top: 24rpx;
  color: #666;
  font-size: 26rpx;
  text-align: center;
}

.link {
  color: #71BF00;
  margin: 0 10rpx;
}
.agree-btn {
  margin-top: 48rpx;
  background: #000000;
  color: #fff;
  font-size: 32rpx;
}
.deny-btn {
  margin-top: 24rpx;
  font-size: 24rpx;
  color: #000000a6;
  background-color: transparent;
  border: none;
  box-shadow: none;
  outline: none;
  padding: 0;
  height: auto;
  align-items: center;
}
